@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

:root {
  --dark-main: #000000;
  /* --main-color: #59ba56; */
  /* --bg-gradient-green-blue: linear-gradient(to right, #59ba56 0%, #30cfd0 100%); */
  /* --bg-gradient-green-blue-hv: linear-gradient(
    to right,
    #59ba56 0%,
    #59ba56 100%
  ); */
  --main-color: #38b9fc;
  --bg-gradient-green-blue: linear-gradient(to right, #38b9fc 0%, #6ae9b9 100%);
  --bg-gradient-green-blue-hv: linear-gradient(
    to right,
    #38b9fc 0%,
    #38b9fc 100%
  );

  /* --main-color: #28ACEA;
  --bg-gradient-green-blue: linear-gradient(to right, #28ACEA 0%, #09EBEE 100%);
  --bg-gradient-green-blue-hv: linear-gradient(
    to right,
    #28ACEA 0%,
    #28ACEA 100%
  ); */

  --go-color: #2563eb;
  --ts-color: #3178c7;
  --react-color: #5ed3f3;
  --js-color: #dd9c29;
  --react-native-color: #5ed3f3;
  --react-color: #dd4b2b;
  --react-bg: #000000;
  --dark: #1b1b22;
  --dark-light: #32323a;
  --white: #ffffff;
  /* --white-light: #c8c8c8; */
  --white-light: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
::before,
::after {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  color: var(--white-light);
  background-color: var(--dark);
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
}
.page-loader {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--dark-light);
  color: var(--white-light);
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 400;
}
.page-loader-inner {
  display: flex;
  align-items: center;
}
.page-loader .circle {
  height: 30px;
  width: 30px;
  border: 2px solid var(--white-light);
  border-radius: 50%;
  margin-right: 15px;
  border-right-color: transparent;
  animation: spin 1s linear infinite;
}
.page-loader.slide-out-right {
  transform: translateX(100%);
  transition: transform 0.6s ease 0.4s;
}
.page-loader.slide-out-right .page-loader-inner {
  transition: opacity 0.4s ease;
  opacity: 0;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body.hide-scrolling {
  overflow-y: hidden;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white);
  font-weight: 600;
}
ul {
  list-style: none;
}
.container {
  max-width: 1170px;
  margin: auto;
  width: 100%;
}
.min-vh-100 {
  min-height: 100vh;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.hidden {
  display: none !important;
}
.sec-padding {
  padding: 100px 0;
}
.flex-end {
  justify-content: flex-end;
}
button {
  font-family: inherit;
  font-weight: inherit;
}
section {
  display: block;
}
section.active {
  display: block;
}

.btn {
  padding: 9px 15px;
  font-family: inherit;
  font-size: 16px;
  color: var(--white);
  text-transform: capitalize;
  border: none;
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-weight: 600;
  background: var(--bg-gradient-green-blue);
}
.btn:hover {
  background: var(--bg-gradient-green-blue-hv);
}
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border: 1px solid var(--white);
  transition: transform 0.3s ease;
  pointer-events: none;
  transform: translate(4px, 4px);
}
@media (min-width: 992px) {
  .btn:hover:before {
    transform: translate(0px, 0px);
  }
}
.close-btn {
  height: 40px;
  width: 40px;
  background-color: var(--dark);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
.close-btn::before,
.close-btn::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 20px;
  left: 50%;
  top: 50%;
  background-color: var(--white-light);
  transition: transform 0.3s ease;
}
.close-btn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.close-btn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.close-btn:hover::before,
.close-btn:hover::after {
  transform: translate(-50%, -50%);
}
.section-title {
  padding: 0 15px;
  width: 100%;
  margin-bottom: 40px;
}
.section-title h2 {
  font-size: 40px;
  text-transform: capitalize;
  text-align: center;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: var(--dark);
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 2px;
}
.bg-animation-effect {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
}
.bg-animation-effect div {
  height: 4px;
  width: 4px;
  background-color: var(--dark-light);
  margin-left: calc((100% - 40px) / 11);
  border-radius: 50%;
}
.bg-animation-effect div:nth-child(even) {
  animation: evenItems 18s linear infinite;
}
@keyframes evenItems {
  0%,
  100% {
    transform: translateY(0vh);
  }
  00% {
    transform: translateY(12.5vh);
  }
}
.bg-animation-effect div:nth-child(odd) {
  animation: oddItems 9s linear infinite;
}
.overlay-effect {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  visibility: hidden;
}
.overlay-effect.active {
  visibility: visible;
  display: flex;
  flex-direction: column-reverse;
}
.overlay-effect-item {
  height: 10vh;
  background-color: var(--dark-light);
  transition: all 0.5s ease;
}
.overlay-effect-item:nth-child(odd) {
  transform: translateX(-100%);
}
.overlay-effect-item:nth-child(even) {
  transform: translateX(100%);
}
.overlay-effect.active .overlay-effect-item {
  transform: translateX(0%);
}
.overlay-effect-item:nth-child(2) {
  transition-delay: 0.05s;
}
.overlay-effect-item:nth-child(3) {
  transition-delay: 0.1s;
}
.overlay-effect-item:nth-child(4) {
  transition-delay: 0.15s;
}
.overlay-effect-item:nth-child(5) {
  transition-delay: 0.2s;
}
.overlay-effect-item:nth-child(6) {
  transition-delay: 0.25s;
}
.overlay-effect-item:nth-child(7) {
  transition-delay: 0.3s;
}
.overlay-effect-item:nth-child(8) {
  transition-delay: 0.35s;
}
.overlay-effect-item:nth-child(9) {
  transition-delay: 0.4s;
}
.overlay-effect-item:nth-child(10) {
  transition-delay: 0.55s;
}

@keyframes oddItems {
  0% {
    transform: translateY(0vh);
  }
  100% {
    transform: translateY(-12.5vh);
  }
}

.short-break-line {
  height: 2px;
  border-radius: 2px;
  width: 100px;
  background: var(--bg-gradient-green-blue);
  position: relative;
}
.short-break-line:before {
  position: absolute;
  content: "";
  width: 20%;
  height: 1.5px;
  top: 10px;
  left: 0;
  background: #30cfd0;
}
.long-break-line {
  height: 5px;
  border-radius: 2px;
  width: 200px;
  background: var(--bg-gradient-green-blue);
  margin-left: 5px;
  position: relative;
  margin: 30px auto;
}
.long-break-line:before {
  position: absolute;
  content: "";
  width: 20%;
  height: 2px;
  top: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #30cfd0;
}
.img-container {
  display: block;
  position: relative;
}
.img-container .img-pb {
  padding-bottom: 56.2%;
}
.img-container .img-container-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.img-container .img-container-inner img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.header {
  padding: 25px 0 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.header .nav-toggle {
  height: 34px;
  width: 44px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 102;
  margin-right: 15px;
  transition: all 0.3s ease 0.4s;
  position: fixed;
  right: 0;
  top: 20px;
  z-index: 1000;
}
.header .nav-toggle.toggle-hide {
  transform: scale(0);
  pointer-events: none;
  transition-delay: 0s;
}
.header .nav-toggle span {
  height: 2px;
  width: 30px;
  background-color: var(--white);
  display: inline-block;
  position: relative;
  transition: all 0.3s ease;
}
.header .nav-toggle.active span {
  background-color: transparent;
}
.header .nav-toggle.active span::before {
  width: 100%;
  transform: rotate(-45deg);
}
.header .nav-toggle.active span::after {
  width: 100%;
  transform: rotate(45deg);
}
.header .nav-toggle span::before,
.header .nav-toggle span::after {
  content: "";
  position: absolute;
  top: 0;
  height: 2px;
  width: 50%;
  background-color: var(--white);
  transition: all 0.3s ease;
}
.header .nav-toggle span::before {
  left: 0;
  transform: translateY(-8px);
}
.header .nav-toggle span::after {
  right: 0;
  transform: translateY(8px);
}
.header .nav-toggle:hover span::before,
.header .nav-toggle:hover span::after {
  width: 100%;
}

/* @media (min-width: 992px){
    .header .nav-toggle.active:hover span::before,
    .header .nav-toggle.active:hover span::after{
        transform: rotate(0deg);
    }
} */
.header .nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  padding: 0 15px;
  overflow-y: auto;
  visibility: hidden;
}
.header .nav.open {
  visibility: visible;
}
.header .nav-inner {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s ease;
}
.header .nav.open .nav-inner {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0.5s;
}
.header .nav-inner ul {
  padding: 80px 0;
}
.header .nav-inner ul li {
  text-align: center;
}
.header .nav-inner ul a {
  font-size: 50px;
  display: inline-block;
  padding: 8px 0;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--white);
  position: relative;
  transition: all 0.3s ease;
}
.header .nav-inner ul a::before {
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: var(--dark);
  border-radius: 50%;
  left: 0;
  top: calc(50% - 50px);
  z-index: -1;
  transform: scale(0);
  opacity: 0;
  transition: all 0.3s ease;
}
.header .nav-inner ul a:hover::before {
  opacity: 1;
  transform: scale(1);
}
.header .nav-inner ul a:hover {
  background: var(--bg-gradient-green-blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-section .min-vh-100 {
  padding: 120px 15px;
}
.home-section .home-content {
  max-width: 620px;
  width: 100%;
  margin: auto;
  text-align: center;
  transition: 0.1s ease;
}
.home-section .home-content img {
  max-width: 150px;
  border: 5px solid var(--dark-light);
  border-radius: 50%;

  /* border-radius: 50%;
  border: 2px solid transparent;
  background: linear-gradient(45deg, var(--main-color), #30cfd0) border-box; */
  margin: 0 0 15px;
}
.home-section .home-content h1 {
  font-size: 28px;
  margin: 0 0 8px;
}
.home-section .home-content p span {
  font-size: 600;
  text-transform: capitalize;
}
.home-section .home-content .fe-label {
  color: var(--main-color);
  text-transform: capitalize;
  font-weight: 600;
  position: relative;
}
.home-section .home-content p .link-item {
  color: var(--main-color);
  text-transform: capitalize;
  font-weight: 600;
  position: relative;
}
.home-section .home-content p .link-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0%;
  background-color: var(--main-color);
  transition: all 0.3s ease;
}
.home-section .home-content p .link-item:hover:before {
  width: 100%;
}
.home-section .home-content h2 {
  margin: 20px 0 5px;
  text-transform: capitalize;
  font-size: 20px;
}
.home-section .home-content .skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.home-section .home-content .skill-item {
  background-color: var(--dark-light);
  color: var(--white);
  margin: 4px 2px 0;
  padding: 2px 10px;
  border-radius: 4px;
  font-size: 16px;
  text-transform: capitalize;
  transform: scale(0.95);
  transition: all 0.5s;
}
.home-section .home-content .skill-item.react {
  background-color: var(--react-bg);
  color: var(--react-native-color);
}
.home-section .home-content .skill-item.react-native {
  background-color: var(--react-native-color);
}
.home-section .home-content .skill-item.js {
  background-color: var(--js-color);
}
.home-section .home-content .skill-item.ts {
  background-color: var(--ts-color);
}
.home-section .home-content .skill-item.go {
  background-color: var(--go-color);
}
.home-section .home-content .skill-item:hover {
  transform: scale(1.1);
}

/* skill here */

.skill-section {
  background-color: var(--dark-800);
  padding-bottom: 50px;
}
.skill-section .skill-item {
  width: calc((100% / 4) - 30px);
  margin: 0 15px 30px;
  padding: 15px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background: var(--bg-gradient-green-blue);
}
.skill-section .skill-item::before,
.skill-section .skill-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2f353e;
  z-index: -1;
  transition: all 0.5s ease;
}
.skill-section .skill-item:hover::before {
  transform: scale(1, 0);
}
.skill-section .skill-item:hover::after {
  transform: scale(0, 1);
}
.skill-section .skill-item .icon {
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 5px;
  transition: all 0.5s ease;
}
.skill-section .skill-item:hover .icon {
  color: var(--white-900);
}
.skill-section .skill-item h3 {
  color: var(--white-900);
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0 0 5px;
}

.about-section {
  background-color: var(--dark);
}
.about-text,
.about-img {
  width: calc(50% - 30px);
  margin: 0 15px 30px;
}
.about-text h3 {
  font-size: 30px;
  text-transform: capitalize;
  margin: 0 0 15px;
}
.about-text p {
  margin: 0 0 15px;
}
.about-text .btn {
  margin: 15px 0 0;
}
.about-img img {
  width: 100%;
  border-radius: 10px;
  /* height: 240px; */
  object-fit: cover;
}
.about-img .img-box {
  position: relative;
}
.about-text .about-info,
.about-text .about-link {
  margin: 15px 0;
}
.about-text .about-info .about-info-item {
  width: 50%;
  padding: 5px 0px;
  max-width: 50%;
  display: inline-flex;
}
.about-text .about-info .about-info-item .fas {
  margin-right: 10px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: var(--bg-gradient-green-blue);
}
.about-text .about-info .about-info-item span {
  font-weight: 500;
}
.about-text .about-link .about-link-item {
  width: 20%;
  padding: 5px;
}
.about-info-item .social-links span {
  margin-right: 4px;
}
.about-info-item .social-links a {
  height: 40px;
  width: 40px;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--white-light);
  border-radius: 50%;
  transition: all 0.25s ease;
}
.about-info-item .social-links a:hover {
  border-color: var(--main-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: var(--bg-gradient-green-blue);
}
.about-text.education {
  width: calc(50% - 30px);
  margin: 0 15px 30px;
}
.about-text.interest {
  width: calc(50% - 30px);
  margin: 0 15px 30px;
}
.about-text .about-interest .about-interest-item {
  width: 33%;
  padding: 5px;
}
.about-text .about-interest .about-interest-item i {
  margin-right: 5px;
}
.about-text.work {
  width: calc(50% - 30px);
  margin: 0 15px 30px;
}
.about-section .timeline-items {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.timeline-items::before {
  content: "";
  position: absolute;
  width: 2px;
  height: calc(100% - 16px);
  background-color: #2f363e;
  left: 7px;
  top: 16px;
}
.timeline-item {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}
.timeline-item:last-child {
  margin-bottom: 0;
}
.timeline-dot {
  height: 16px;
  width: 16px;
  background: var(--bg-gradient-green-blue);
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}
.timeline-date {
  font-size: 18px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: var(--bg-gradient-green-blue);
  margin: 6px 0 15px;
}
.timeline-content {
  background-color: #2f363e;
  padding: 30px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.timeline-content::before {
  position: absolute;
  width: 0;
  height: 2;
  background: var(--bg-gradient-green-blue);
  top: 0;
  height: 2px;
  left: 0;
  content: "";
  transition: all 0.4s;
}
.timeline-content:hover::before {
  width: 100%;
}
.timeline-content h3 {
  font-size: 20px;
  color: #ffffff;
  margin: 0 0 10px;
  text-transform: capitalize;
  font-weight: 500;
}
.timeline-content h3 .link-item {
  color: var(--main-color);
  text-transform: capitalize;
}
.timeline-content p {
  color: #c8c8c8;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
.timeline-content p.detail {
  margin-left: 10px;
  font-weight: 300;
}
.timeline-items::before {
  left: 7px;
}
.timeline-item {
  padding-left: 37px;
}
.timeline-dot {
  left: 0;
}
@keyframes spin01 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.portfolio-section {
  padding-bottom: 70px;
}
.portfolio-filter {
  padding: 0 15px;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.portfolio-filter-btn {
  padding: 4px 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: var(--dark-light);
  color: var(--white-light);
  margin: 0 4px 10px;
  text-transform: capitalize;
  display: inline-block;
  cursor: pointer;
}
.portfolio-filter-btn.active {
  background: var(--bg-gradient-green-blue);
  color: var(--white);
  cursor: auto;
}
.filter-status {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--dark-light);
  z-index: 201;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease 0.2s;
  z-index: 1001;
}
.filter-status.active {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
.filter-status p {
  font-size: 20px;
  text-transform: capitalize;
  color: var(--white);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.filter-status.active p {
  opacity: 1;
}
.filter-status p span {
  font-weight: 600;
}
.portfolio-item {
  width: calc((100% / 3) - 30px);
  margin: 0 15px 30px;
  cursor: pointer;
  display: none;
}
.portfolio-item.show {
  display: block;
}
.portfolio-item img {
  width: 100%;
}
.portfolio-item-thumbnail {
  position: relative;
}
.portfolio-item-thumbnail-ribbon {
  display: inline-block;
  padding: 8px 20px;
  position: absolute;
  right: 0px;
  top: 0px;
  height: 40px;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0;
  text-shadow: none;
  font-weight: normal;
  background-color: var(--dark-main);
  border-top-right-radius: 5px;
  z-index: 0;
}
.portfolio-item-thumbnail-ribbon.nextjs {
  background-color: #ffffff;
}
.portfolio-item-thumbnail-ribbon i {
  font-size: 24px;
}
.portfolio-item-thumbnail-ribbon i.fab.fa-android {
  color: #59ba56;
  margin-right: 5px;
}
.mernstack-label span {
  font-size: 20px;
  font-weight: 700;
}
.mernstack-label span:nth-child(1) {
  color: #1a4802;
}
.mernstack-label span:nth-child(2) {
  color: #fff;
}
.mernstack-label span:nth-child(3) {
  color: #54dbfa;
}
.mernstack-label span:nth-child(4) {
  color: #6aac47;
}
.blog-nextjs-tag {
  display: flex;
  flex-direction: row;
  width: 45px;
  height: 27px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img//tag/nextjs-tag.png");
}

.portfolio-item-thumbnail-ribbon-two:before,
.portfolio-item-thumbnail-ribbon-two:before {
  display: inline-block;
  content: "";
  position: absolute;
  left: -15px;
  top: 0;
  border: 9px solid transparent;
  border-width: 20px 8px;
  border-right-color: var(--dark-main);
}
.portfolio-item-thumbnail-ribbon-two:before {
  border-color: var(--dark-main);
  border-left-color: transparent !important;
  left: -9px;
}
.portfolio-item-thumbnail-ribbon-two.nextjs:before {
  border-color: #ffffff;
}
.portfolio-item-thumbnail::before,
.portfolio-item-thumbnail::after {
  content: "";
  position: absolute;
  left: 0;
  height: 0%;
  width: 100%;
  background-color: var(--dark-light);
  opacity: 0.8;
  transition: height 0.3s ease;
}
.portfolio-item-thumbnail::before {
  top: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.portfolio-item-thumbnail::after {
  bottom: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.portfolio-item:hover .portfolio-item-thumbnail::before,
.portfolio-item:hover .portfolio-item-thumbnail::after {
  height: 50%;
}
.portfolio-item-thumbnail .btn {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  transition: all 0.3s ease;
}
.portfolio-item:hover .portfolio-item-thumbnail .btn {
  transition-delay: 0.2s;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.portfolio-item img {
  width: 100%;
  aspect-ratio: 1.779;
  object-fit: contain;
  border-radius: 5px;
}
.portfolio-item h3 {
  font-size: 20px;
  margin: 10px 0 5px;
  text-transform: capitalize;
}
.portfolio-item-details {
  display: none;
}

.portfolio-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 200;
  visibility: hidden;
  transition: all 0.1s ease;
}
.portfolio-popup.open {
  visibility: visible;
  z-index: 1002;
}
.portfolio-popup::before,
.portfolio-popup::after {
  content: "";
  position: absolute;
  height: 50%;
  width: 0%;
  background-color: var(--dark-light);
  z-index: -1;
  transition: all 0.3s ease;
}
.portfolio-popup::before {
  top: 0;
  left: 0;
}
.portfolio-popup::after {
  right: 0;
  bottom: 0;
}
.portfolio-popup.open::before,
.portfolio-popup.open::after {
  width: 100%;
  transition-delay: 0s;
}
.pp-overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  visibility: hidden;
}
.pp-overlay.next,
.pp-overlay.prev {
  visibility: visible;
}
.pp-overlay::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--dark);
}
.pp-overlay.next::before {
  animation: nextItem 1s ease forwards;
}
.pp-overlay.prev::before {
  animation: prevItem 1s ease forwards;
}
@keyframes nextItem {
  0% {
    transform: translateX(-100%);
  }
  40%,
  60% {
    transform: 0%;
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes prevItem {
  0% {
    transform: translateX(100%);
  }
  40%,
  60% {
    transform: 0%;
  }
  100% {
    transform: translateX(-100%);
  }
}
.pp-inner {
  height: 100vh;
  padding: 0 15px;

  opacity: 0;
  transition: all 0.5s ease;
  transform: translateY(20%);
}
.portfolio-popup.open .pp-inner {
  opacity: 1;
  transition-delay: 0.5s;
  transform: translateY(0%);
  overflow-y: auto;
}
.pp-content {
  max-width: 850px;
  margin: 50px auto 60px;
}
.pp-header {
  position: relative;
}
.pp-header h2 {
  font-size: 20px;
  text-transform: capitalize;
  margin: 0 0 10px;
  padding-right: 50px;
}
.pp-header h2 span {
  font-weight: 300;
}
.pp-close-btn {
  position: absolute;
  right: 0;
  top: 0;
}
.pp-header h3 {
  font-size: 28px;
  text-transform: capitalize;
}
.pp-thumbnail {
  padding: 20px 0;
}
.pp-thumbnail img {
  border-radius: 5px;
}
.pp-body {
  padding: 15px 0;
}
.pp-body .description {
  margin: 0 0 30px;
}
.pp-body .description p span a {
  color: var(--main-color);
}
.pp-body .general-info p {
  margin-bottom: 10px;
  font-weight: 600;
}
.pp-body .general-info p span,
.pp-body .general-info p.feature {
  font-weight: 300;
  margin-left: 5px;
}
.pp-body .general-info p a {
  color: var(--main-color);
}
.pp-footer {
  padding: 40px 0 0;
  display: flex;
}
.pp-footer-left,
.pp-footer-right {
  flex: 1;
}
.pp-footer-right {
  text-align: right;
}
.pp-footer h3 {
  text-transform: capitalize;
  font-size: 20px;
  margin: 30px 0 15px;
}
.pp-footer img {
  max-width: 120px;
  border-radius: 3px;
}
.contact-section.active {
  display: flex;
}

.contact-content {
  max-width: 700px;
  width: 1005;
  margin: auto;
  text-align: center;
  padding: 0 5px;
}
.contact-text {
  margin-bottom: 30px;
}
.contact-info-item {
  margin-bottom: 10px;
}
.contact-info-item p {
  font-size: 24px;
  font-weight: 600;
}
.contact-info-item p .email {
  transition: all 0.3s;
  cursor: pointer;
}
.contact-info-item p .email:hover {
  color: var(--main-color);
}
.contact-info-item .social-links span {
  margin-right: 4px;
}
.contact-info-item .social-links a {
  height: 40px;
  width: 40px;
  border: 1px solid var(--white-light);
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--white-light);
  border-radius: 50%;
  transition: all 0.25s ease;
}
.contact-info-item .social-links a:hover {
  border-color: var(--main-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: var(--bg-gradient-green-blue);
}
.contact-content .toggle-contact-form-btn {
  margin-top: 30px;
}
.contact-form {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 200;
  visibility: hidden;
}
.contact-form.open {
  visibility: visible;
}
.contact-form-inner {
  background-color: var(--dark-light);
  height: 100vh;
  padding: 50px 15px;
  display: flex;
  transition: all 0.5s ease;
  transform: translateY(-100%);
}
.contact-form.open .contact-form-inner {
  transform: translateY(0%);
  transition-delay: 0s;
}
.contact-form-container {
  max-width: 680px;
  margin: auto;
  width: 100%;
  opacity: 0;
  transform: scale(0.75);
  transition: all 0.5s ease;
}
.contact-form.open .contact-form-container {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0.4s;
}
.contact-form form {
  padding: 50px 0 0;
}
.contact-form .input-group {
  margin-bottom: 30px;
  width: 100%;
}
.contact-form .input-control::placeholder {
  color: var(--white-light);
}
.contact-form .input-control {
  height: 50px;
  display: block;
  width: 100%;
  padding: 0 15px;
  font-family: inherit;
  font-size: 16px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--white-light);
  color: var(--white);
  transition: all 0.5s ease;
}
.contact-form .input-control:focus {
  background-color: var(--dark);
  border-color: transparent;
}
.contact-form textarea.input-control {
  height: 120px;
  padding-top: 15px;
  resize: none;
}
.footer {
  padding: 80px 0 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  z-index: 1;
}
.footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.footer-item {
  width: calc(100% / 3);
  padding: 0 15px;
  text-align: center;
}
.footer-item h3 {
  text-transform: capitalize;
  font-size: 22px;
  margin: 0 0 15px;
}
.footer-item p {
  line-height: 30px;
}
.footer-item .social-links {
  margin-top: 15px;
}
.footer-item .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  color: var(--white-light);
  font-size: 22px;
  align-items: center;
  justify-content: center;
  transition: color 0.5s ease;
}
.footer-item .social-links a:hover {
  color: var(--main-color);
}
.footer .copyright {
  width: 100%;
  text-align: center;
  padding: 25px 15px;
  font-size: 16px;
  border-top: 1px solid var(--white-light);
}
.footer .copyright .dribbble {
  text-decoration: none;
  color: #eb6196;
  padding: 0 2px 0 0;
}
@media (max-width: 991px) {
  .bg-animation-effect .col-10,
  .bg-animation-effect .col-9,
  .bg-animation-effect .col-8 {
    display: none;
  }
  .bg-animation-effect div {
    margin-left: calc((100% - 28px) / 8);
  }
  .portfolio-item {
    width: calc(50% - 30px);
  }
  .skill-section .skill-item {
    width: calc((100%) / 3 - 30px);
  }
}
@media (max-width: 767px) {
  .bg-animation-effect .col-7,
  .bg-animation-effect .col-6 {
    display: none;
  }
  .bg-animation-effect div {
    margin-left: calc((100% - 20px) / 6);
  }
  .about-text.interest,
  .about-section .about-text,
  .about-section .about-img {
    width: calc(100% - 30px);
  }
  .about-section .about-img {
    padding-top: 30px;
  }
  .portfolio-item {
    width: calc(100% - 30px);
  }
  .skill-section .skill-item {
    width: calc(50% - 30px);
  }
  .footer-item {
    width: 100%;
  }
  .footer-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (max-width: 575px) {
  .pp-footer h3 {
    font-size: 16px;
  }
  .contact-info-item p {
    font-size: 18px;
  }
  .contact-info-item .social-links span {
    display: block;
    margin-bottom: 10px;
  }
  .skill-section .skill-item {
    width: calc(100% - 30px);
  }
}
